footer.pt-5.pb-5.footer_bgi
    .pt-5.pb-5
        .pt-5.pb-5
            .pt-5.pb-5
                .pt-5.pb-5
                    .pt-5.pb-5
.copyright.text-center.bg-dark.pt-2.pb-2
    p.text-white.mb-1.mt-1 © 2016 Cars.com All rights reserved.
