header.bg-primary
    .container
        nav.navbar.navbar-expand-lg.navbar-dark 
            //- .bg-primary - bg color
            .container-fluid
                a(href="#").navbar-brand
                    img(src="img/logo.png", alt="#")
                    h1.d-inline.align-bottom.text-white trips
                button(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
                    span.navbar-toggler-icon
                div(id="navbarNavAltMarkup").collapse.navbar-collapse.justify-content-end
                    .navbar-nav
                        +menu(mainMenu)
    .container.p-5
        .pt-5.p_p_container.position-relative
            .pt-5.p_container.position-relative
                h2.text-center.text-white.text-uppercase.fs-1.sea_p Морські пригоди
                .pt-2.pb-4.w-100.mx-auto
                    p.text-center.text-white.fst-italic.mx-auto.mw_500 Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
                p.text-center
                    a(href="#").text-center.d-inline-block.text-white.mx-auto.btn.btn-warning.yellow_btn.text-uppercase детальніше
        .text-center.pt-5
            .pt-5
                .pt-5
                    .pt-5
                        .pt-5
                            p.text-uppercase.fs-1 обери свій план подорожі
                            p.fst-italic Наша фірма -лідер на ринку у своїй сфері
        p.text-center.pt-5
            a(href="#main").position-relative.pointer_a
